@charset "UTF-8";
@import url(reset.css);
@import url(normalize.css);
@import url(fonts.css);
@import url(menuLateral.css);
@import url(menuGestion.css);
@import url(menuUsuario.css);

/* ===CONTENIDO=== */
body {
  font-family: 'open_sansregular';
  color: #555555;
  font-size: 12px;
  background: #FFFFFF;
}

/* ===SCREEN 1024=== */
body {
  padding: 0;
  margin:0;
  min-width: 1024px;
}

/* ===HEADER=== */

body > .contenedor-menu-principal {
  background: #EC0000;
}

body div.menu-principal {
  width: 984px;
  margin: auto;
  background: #EC0000;
  color: #FFFFFF;
  padding: 10px;
  line-height: 26px;
}

body div.menu-principal > div.logo {
  float: left;
  text-align: left;
  width: 139px;
  height: 20px;
  background: url(../img/logo-santander-chico.png);
}

body div.menu-principal > div.lista-opciones-menu {
  float: left;
  text-align: left;
  padding-left: 50px;
  line-height: 26px;
}

body div.menu-principal ul {
  margin: 0;
  padding: 0;
}

body div.menu-principal ul li {
  display: inline;
  padding: 0;
  margin: 0 1px;
  cursor: default;
}

body div.menu-principal ul li:nth-child(2n+1) {
  cursor: pointer;
}

input[type="text"], select {
  border: solid 1px #CCCCCC;
  border-top: solid 2px #CCCCCC;
  padding: 2px 5px;
}

.link-cambia-sucursal {
  color: #EC0000;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* ===ESTRUCTURA MENU IZQUIERDO / TABLA=== */

.estructura-menu-contenido {
  width: 1024px;
  margin: auto;
}

.estructura-menu-contenido > div{
  padding: 20px;
}

.contenido-derecho {
  float: left;
  width: 740px;
}

/* ===CONTENIDO DE FILTROS=== */

.panel-filtros-generico {
  line-height: 30px;
  height: 30px;
}

h2.titulo-seccion {
  float: left;
  text-align: left;
  width: 50%;
  color: #EC0000;
  font-weight: 600;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
}

.filtro {
  float: right;
  width: 50%;
  text-align: right;
}

.boton-filtro {
  cursor: pointer;
  float: right;
  line-height: 16px;
}

.close-filtro {
  position: absolute;
  right: 15px;
  top: 15px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite.png);
  background-position: -35px 0px;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.filtro > .boton-filtro > span:first-child {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite.png);
  background-position: 0px -70px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* === FILTROS === */

.panel-filtros {
  background: #EBEBEB;
  margin-bottom: 10px;
  padding: 20px;
  padding-top: 0;
  border-radius: 5px;
  position: relative;
}

.panel-filtros:before {
  content: "";
  border: solid #ebebeb;
  background: #EBEBEB;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 10px;
  top: -5px;
  position: absolute;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  right: 20px;
}

.panel-filtros p {
  font-size: 14px;
  /*font-weight: 600;*/
  margin-bottom: 10px;
}

.panel-filtros select {
  font-size: 14px;
  margin-right: 10px;
}

.panel-filtros .filtro-interno {
  float: left;
  margin-right: 20px;
  padding-top: 20px;
}

.clear {
  clear: both;
}
/*=== TABLAS GENERALES === */

.tabla-generica {
  width: 100%;
  border: solid 1px #CCCCCC;
}

.tabla-generica tr:hover {
  background: #EBEBEB;
}

.tabla-generica th {
  background: #EEEEEE;
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  border-left: solid 1px #CCCCCC;
}

.tabla-generica th > span {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite-2.png);
  background-position: 32px 20px;
  width: 12px;
  height: 12px;
  margin-left: 6px;
  cursor: pointer;
}

.tabla-generica td {
  border: solid 1px #CCCCCC;
  text-align: left;
  line-height: 30px;
  padding: 5px;
}

.activo {
  color: #2BC56C;
  font-weight: 600;
}

.inhabilitado {
  color: #EC0000;
  font-weight: 600;
}

/* AJUSTES PARA TABLA DE MASCARA */
.datos-mascara td:nth-child(2), td:nth-child(6), td:nth-child(7) {
  text-align: right;
}

/* AJUSTES PARA TABLA DE SUSCRIPTORES */
.datos-suscriptores td:nth-child(3), td:nth-child(4) {
  text-align: right;
}

/* AJUSTES PARA TABLA DE ENTIDADES */
.datos-entidades td:nth-child(2), td:nth-child(3), td:nth-child(4) {
  text-align: right;
}

.datos-entidades td:last-child {
  text-align: left;
}

.tabla-generica td:last-child {
  position: relative;
}

/* Boton de los 3 puntitos */

.boton-tres-puntitos {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite-2.png);
  background-position: 46px 20px;
  width: 10px;
  height: 20px;
  right: 4px;
  margin-top: 5px;
  cursor: pointer;
}

/* ===Paginador=== */

.paginador-generico {
  text-align: center;
  margin-top: 20px;
}

.paginador-generico span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: solid 1px #CCCCCC;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
}

.paginador-generico span:hover {
  background: #EBEBEB;
  font-weight: 600;
}

.paginador-generico span.pag-anterior {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite-2.png);
  background-position: 75px 20px;
  width: 10px;
  margin-right: 10px;
  border: none;
}

.paginador-generico span.pag-siguiente {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite-2.png);
  background-position: 64px 20px;
  width: 10px;
  margin-left: 10px;
  border: none;
}

.paginador-generico span.pag-anterior:hover {
  background: none;
  background-image: url(../img/sprite-2.png);
  background-position: 75px 20px;
}

.paginador-generico span.pag-siguiente:hover {
  background: none;
  background-image: url(../img/sprite-2.png);
  background-position: 64px 20px;
}

/* == Titulo de contenidos == */

h2.titulo-contenido {
  font-size: 18px;
  color: #EC0000;
  font-family: 'open_sansregular';
}

h2.titulo-contenido > span {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite-2.png);
  background-position: 63px 20px;
  width: 10px;
  height: 20px;
  margin-right: 10px;
}

/* ===Menu Adicional=== */

.menu-adicional {
  position: absolute;
  top: 44px;
  text-align: right;
  border-radius: 5px;
  right: -13px;
  background: #FFFFFF;
  border: solid 1px #CCCCCC;
  padding: 10px 0;
  z-index: 5;
}

.menu-adicional:before {
  content: "";
  border: solid #CCCCCC;
  background: #FFFFFF;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 8px;
  top: -9px;
  position: absolute;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  right: 14px;
  z-index: -1;
}

.menu-adicional ul{
  margin: 0;
  padding: 0;
}

.menu-adicional ul li{
  cursor: pointer;
  width: 140px;
  text-align: left;
  padding: 0 5px;
}

.menu-adicional ul li:hover{
  background: #EEEEEE;
}


/*=== NUEVA MASCARA ===*/

.seccion-nueva-mascara {
  font-family: 'open_sanssemibold';
}

.seccion-nueva-mascara .contenedor-header {
  background: #EBEBEB;
  border-bottom: solid 1px #CCCCCC;
}

.seccion-nueva-mascara header{
  width: 984px;
  margin: auto;
  padding: 20px;
  background: #EBEBEB;
}

.seccion-nueva-mascara header h2{
  font-size: 20px;
}

.seccion-nueva-mascara header h2 > span{
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite.png);
  background-position: -2px -40px;
  transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
  width: 18px;
  height: 10px;
  margin-right: 4px;
  cursor: pointer;
}

.seccion-nueva-mascara .opciones {
  padding-top: 30px;
}

.seccion-nueva-mascara .opciones > div {
  float: left;
  margin-right: 100px;
}

.botonera {
  text-align: right;
}

.botonera > button {
  margin-left: 10px;
}

.centrar-boton {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.seccion-nueva-mascara .opc-visibilidad input:last-child{
  margin-left: 10px;
}

.seccion-nueva-mascara .opciones > div:last-child {
  float: none;
}

.seccion-nueva-mascara .opciones > div p:first-child {
  font-family: 'open_sansbold';
  margin-bottom: 20px;
}

.configuracion-mascaras {
  padding: 40px 20px;
  width: 984px;
  margin: auto;
}

.opciones-configuracion {
  border: solid 1px #CCCCCC;
  margin-top: 30px;
  padding: 0 20px;
  padding-right: 5px;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
}

.opciones-configuracion div > span:first-child {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 20px;
}

.opciones-configuracion div > span.editar {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite.png);
  background-position: -2px -40px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  width: 14px;
  height: 10px;
  margin-right: 10px;
  cursor: pointer;
  -webkit-transition: transform 0.2s; /* Safari */
  transition: transform 0.2s;
}

.opciones-configuracion div > span.editar-abierto {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.config-verde {
  background-color: #2BC56C;
}

.config-rojo {
  background-color: #EC0000;
}

.control-descripcion {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite.png);
  background-position: -35px 3px;
  width: 14px;
  height: 18px;
  margin-left: 10px;
}

.descripcion-ok {
  background-position: -90px 3px;
}

.opciones-configuracion div:first-child{
  float: left;
}

.opciones-configuracion div:nth-child(2){
  float: right;
}

.configuracion-desplegado {
  border: solid 1px #CCCCCC;
  border-top: none;
  padding: 30px 70px;
}

.opcion-desplegada {
  padding: 0 54px;
  padding-bottom: 20px;
  border-bottom: solid 1px #CCCCCC;
  margin-bottom: 20px;
}

.opcion-desplegada > div {
  margin-top: 20px;
}

.opcion-desplegada p:first-child {
  margin-top: 10px;
}

.opcion-desplegada p {
  margin-bottom: 20px;
  font-weight: 600;
}

.dias-solicitud {
  text-align: center;
  width: 30px;
}

.opciones-productos, .opciones-upgrade {
  padding: 20px 54px;
}

.opciones-productos > div {
  float: left;
  margin-right: 30px;
}

.opciones-productos > div > p{
  margin-bottom: 10px;
}

.opciones-productos > div:last-child {
  float: none;
}

.opciones-convenio > div > p {
  float: left;
  width: 160px;
  margin-bottom: 20px;
}

.opciones-convenio > div > select,
.opciones-convenio > div > select,
.opciones-convenio > div > .onoffswitch {
  float: left;
}

.input-corto {
  width: 80px;
  text-align: right;
  padding-right: 5px;
}

.opciones-convenio > div > div {
  float: none;
}

.opciones-credito > div {
  margin-top: 10px;
}

.opciones-credito .opcion-con-switch {
  margin-top: 20px;
}

.opciones-credito .opcion-con-switch  > p {
  float: left;
  width: 100px;
}

.opciones-credito .opcion-con-switch  > div:nth-child(2) {
  float: left;
}

span.opcion-no {
  display: inline-block;
  vertical-align: top;
  margin: 3px;
  font-size: 13px;
  margin-right: 12px;
  color: #999999;
}

.opciones-credito .radio-con-padding {
  padding-left: 106px;
}

.opciones-contenedora {
  margin-bottom: 15px;
}

.aclaracion-persona {
  display: inline-block;
  vertical-align: top;
  margin: 3px;
  font-size: 13px;
  padding-left: 50px;
  color: #BBBBBB;
}

.contenido-upgrade-rangos h2 {
  color: #EC0000;
  text-align: center;
}

.contenido-upgrade-rangos > div.bloque-rango-capitas {
  float: left;
  border: solid 1px #CCCCCC;
  padding: 20px;
  width: 300px;
  margin: 20px;
}

.contenido-upgrade-rangos > div.bloque-rango-capitas > p {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
}

.contenido-upgrade-rangos > div.bloque-rango-capitas > div {
  margin-top: 10px;
}

.contenido-upgrade-rangos > div.bloque-rango-capitas > div.titulo-porcentaje {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #999999;
}

.contenido-upgrade-rangos .concepto-padding {
  margin-bottom: 20px;
}

.contenido-upgrade-rangos > div.bloque-rango-capitas div > p {
  float: left;
  width: 140px;
  line-height: 18px;
}

.contenido-upgrade-rangos > div.bloque-rango-capitas div > input {
  float: left;
}

.contenido-upgrade-rangos .paginador-generico {
  margin-bottom: 20px;
}

.opciones-upgrade > p {
  margin-bottom: 20px;
}

.opciones-upgrade > div {
  margin-bottom: 10px;
}

.contenedor-productos {
  max-height: 210px;
  width: 786px;
  overflow-y: auto;
  margin: 30px 0 30px 56px;
}

.contenedor-productos .fila-rangos > div {
  width: 200px;
  margin-bottom: 10px;
}

.contenedor-productos .fila-rangos > div:nth-last-child(2) {
  width: 40px;
  margin-bottom: 10px;
}

.contenedor-productos .fila-rangos:first-child > div {
  margin-bottom: 5px;
}

.contenedor-productos .fila-rangos > div > select {
  width: 180px;
}

.contenido-convenios-especiales > div input{
  width: 400px;
  text-align: right;
}

.contenido-convenios-upgrades > div input{
  width: 60px;
}

.opciones-upgrade > div input.responsable-principal {
  margin-left: 15px;
}

.opciones-upgrade .titulos-rangos {
  color: #999999;
}

.fila-rangos > div {
  float: left;
}

.opciones-upgrade .fila-rangos > div {
  width: 80px;
  text-align: left;
}

.fila-rangos > div > span {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite-2.png);
  background-position: -58px -47px;
  width: 14px;
  height: 18px;
  cursor: pointer;
}

.fila-rangos > div:last-child {
  float: none;
}

.opcion-desplegada div.administrar-desplegada p {
  float: left;
  width: 200px;
  font-weight: 600;
  text-align: left;
}

.opcion-desplegada div.administrar-desplegada select, .opcion-desplegada div.administrar-desplegada input[type="text"] {
  float: left;
  width: 300px;
  border: solid 1px #CCCCCC;
  border-top: solid 2px #CCCCCC;
}

.opcion-desplegada .contenedor-boton {
  padding-left: 200px;
  text-align: center;
  width: 302px;
}

/*  == ESTRUCTURA DE NUEVOS ==*/
/*== NUEVO NEGOCIO ==*/
/*== NUEVO SUSCRIPTOR ==*/

.seccion-nuevo-suscriptor .menu-gestion {
  margin-bottom: 0;
  font-weight: 600;
}

.seccion-nuevo-negocio .contenido-nuevo {
  padding-top: 40px;
}

.datos-domicilio-entrega > div.ajusta-top {
  margin-top: 20px;
}

.contenido-autorizar-solicitudes {
  margin-left: 20px;
}

.contenido-autorizar-solicitudes > div {
  margin-top: 10px;
}

.contenedor-header {
  background: #EBEBEB;
  border-bottom: solid 1px #CCCCCC;
}

.contenido-nuevo {
  font-family: 'open_sanssemibold';
  padding: 20px;
  width: 984px;
  margin: auto;
}

.contenido-nuevo select {
  width: 500px;
  margin-top: 10px;
}

.input-largo {
  width: 500px;
  margin-top: 10px;
}

.conteo-pasos {
  float: right;
  padding: 20px;
  font-size: 16px;
}

.select-disabled {
  background: #EEEEEE;
}

.contenido-nuevo .opciones-nuevo {
  padding: 30px 0;
  border-bottom: solid 1px #CCCCCC;
}

.contenido-nuevo ul li{
  padding-top: 10px;
}

.radio-producto, .check-producto {
  margin-right: 10px;
}

.datos-domicilio-entrega {
  margin-top: 20px;
}

.datos-domicilio-entrega > div {
  margin-bottom: 10px;
}

.datos-domicilio-entrega > div input[type="radio"], .datos-domicilio-entrega > div input[type="checkbox"] {
  margin-right: 10px;
}

.contenido-nuevo .opciones-nuevo:last-child, .contenido-nuevo .opciones-nuevo:nth-last-child(2) {
  border-bottom: none;
}

.opciones-nuevo .numero-opcion {
  float: left;
  margin-right: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 20px;
}

.opciones-nuevo .activa {
  background: #EC0000;
}

.opciones-nuevo .inactiva {
  background: #CCCCCC;
}

.opciones-nuevo .contenido-opcion {
  float: left;
  text-align: left;
}

.opciones-nuevo .select-domicilio {
  position: relative;
  width: 500px;
  font-family: 'open_sansregular';
  font-size: 12px;
  border: solid 1px #CCCCCC;
  border-top: solid 2px #CCCCCC;
  padding: 2px 5px;
  margin-top: 10px;
}

.opciones-nuevo .select-domicilio .opciones-select-domicilio {
  position: absolute;
  left: -1px;
  top: 16px;
  width: 510px;
  background: #FFFFFF;
  border: solid 1px #CCCCCC;
  cursor: pointer;
  z-index: 10;
}

.opciones-nuevo .select-domicilio .opciones-select-domicilio > span a {
  display: block;
  color: #EC0000;
  width: 100%;
  padding: 20px 10px;
  font-family: 'open_sanssemibold';
}

.opciones-nuevo .select-domicilio .opciones-select-domicilio > span a:hover {
  opacity: 1;
}

.opciones-nuevo .select-domicilio > span {
    display: inline-block;
    cursor: pointer;
    width: 482px;
}

.opciones-nuevo .select-domicilio > span:nth-child(2) {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/sprite-2.png);
  background-position: 31px 14px;
  width: 12px;
  height: 11px;
  margin-left: 6px;
  margin-top: 2px;
  float: right;
  cursor: pointer;
}

.contenido-opcion > h3 {
  font-family: 'open_sansbold';
  font-size: 14px;
  line-height: 30px;
}

/*== SUSCRIPTORES DETALLES ==*/

.seccion-suscriptores-detalle header{
  width: 984px;
  margin: auto;
  padding: 20px;
}

.seccion-suscriptores-detalle header > div:first-child {
  float: left;
}

.seccion-suscriptores-detalle header > div.sub-opciones {
  position: relative;
  float: right;
}

.seccion-suscriptores-detalle header > div.sub-opciones ul li{
  width: 100px;
  line-height: 20px;
  padding: 5px 20px;
}

.seccion-suscriptores-detalle .datos-header {
  width: 984px;
  margin: auto;
  padding: 20px;
  padding-top: 0;
}

.seccion-suscriptores-detalle .datos-header .opciones > div {
  float: left;
  margin-right: 30px;
  line-height: 20px;
  min-width: 120px;
  margin-top: 20px;
}

.seccion-suscriptores-detalle .datos-header .opciones > div p:first-child {
  font-family: 'open_sansbold';
  margin-bottom: 10px;
}

.seccion-suscriptores-detalle .datos-header .opciones > div p:last-child-child {
  line-height: 20px;
}

.seccion-suscriptores-detalle .datos-header .opciones > div p > input {
  width: 300px;
}

.seccion-suscriptores-detalle .datos-header .opciones > div:last-child {
  float: none;
  margin: 0;
}

.seccion-suscriptores-detalle .contenido-detalle {
  width: 984px;
  margin: auto;
  padding: 20px;
}

.contenido-detalle .contenedor-detalle {
  margin: 20px 0;
  border: solid 1px #CCCCCC;
}

.contenido-detalle .contenedor-detalle > h2{
  font-family: 'open_sanssemibold';
  font-size: 18px;
  padding: 20px 100px;
  border-bottom: solid 1px #CCCCCC;
}

.contenido-detalle .contenedor-detalle .configuracion-general > h2 {
  font-family: 'open_sanssemibold';
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.contenido-detalle .contenedor-detalle .configuracion-general > div {
  margin-bottom: 10px;
}

.contenido-detalle .contenedor-detalle .configuracion-general > div select {
  min-width: 300px;
  margin-left: 20px;
}

.contenido-detalle .contenedor-detalle .configuracion-general > div input[type="checkbox"] {
  margin-right: 10px;
}

.contenido-detalle .contenedor-detalle .configuracion-general > div input[type="radio"] {
  margin-right: 10px;
}

.contenido-detalle .contenedor-detalle .configuracion-general > div input[type="text"] {
  width: 300px;
  margin-bottom: 10px;
}

span.busca-mapa {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  width: 19px;
  height: 21px;
  background-image: url(../img/sprite-2.png);
  background-position: 98px 0;
  cursor: pointer;
}

.botonera-domicilio-entrega {
  padding: 10px 0;
}

.boton-radio {
  font-family: 'open_sanssemibold';
  float: left;
  background-image: url(../img/bg_btn_02.png);
  border: solid 1px #CCCCCC;
  line-height: 26px;
  padding: 0 10px;
  margin-right: 10px;
  width: 100px;
  cursor: pointer;
}

.input-final {
  margin-left: 10px;
}

.input-domicilio {
  width: 300px;
  margin-right: 10px;
}

.fin-linea {
  border-bottom: solid 1px #CCCCCC;
  padding-bottom: 20px;
}

.contenido-detalle .contenedor-detalle > div {
  padding: 20px 100px;
}

.contenido-detalle .contenedor-detalle div.listado-campos-asignados {
  position: relative;
  padding-bottom: 0;
}

.contenido-detalle .contenedor-detalle div.listado-campos-asignados > div.contenedor-tabla {
  position: relative;
  height: 284px;
  overflow-y: auto;
}

.contenido-detalle .contenedor-detalle div.listado-campos-asignados > p {
  font-size: 14px;
  text-align: right;
  padding-right: 118px;
  line-height: 30px;
  font-weight: 600;
}

.contenido-detalle .contenedor-detalle div.listado-campos-asignados > div > table {
  width: 100%;
}

.contenido-detalle .contenedor-detalle div.listado-campos-asignados > div > table td {
  font-family: 'open_sansregular';
  font-size: 14px;
  border-bottom: solid 1px #CCCCCC;
  line-height: 20px;
  padding: 6px 0;
  text-align: left;
}

.contenido-detalle .contenedor-detalle div.listado-campos-asignados > div > table td:last-child {
  width: 216px;
}

.contenido-detalle .contenedor-detalle div.listado-campos-asignados > div > table td .onoffswitch+span {
  font-size: 14px;
}

.contenido-detalle .paginador-generico {
  margin: 0;
}

.input-check > input {
  margin-right: 10px;
}

.contenido-detalle .contenedor-detalle div.listado-campos-asignados > div > table tr:first-child td {
  border-top: solid 1px #CCCCCC;
}

/*Panel de detalles deshabilitado*/

.tapa-deshabilita {
  position: absolute;
  background: #FFFFFF;
  width: 800px;
  height: 284px;
  opacity: 0.4;
  z-index: 10;
}

.bloquea-detalle {
  position: absolute;
  background: #FFFFFF;
  opacity: 0.4;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/*==ENTIDAD NEGOCIO ==*/

.entidad-negocio .menu-entidad-negocio {
  width: 984px;
  margin: auto;
  background: #EBEBEB;
  padding: 20px;
  padding-bottom: 30px;
  border-bottom: solid 1px #CCCCCC;
}

.entidad-negocio .menu-entidad-negocio > div {
  float: left;
  margin-right: 80px;
}

.entidad-negocio .menu-entidad-negocio > div:last-child {
  float: none;
}

.entidad-negocio .menu-entidad-negocio > div > p:first-child {
  font-family: 'open_sansbold';
  margin-bottom: 10px;
}

.entidad-negocio .usuario {
  border: none;
}

.entidad-negocio .contenido-entidad-negocio {
  padding: 30px 20px;
  width: 984px;
  margin: auto;
}

h3.titulo-con-retorno {
  font-family: 'open_sansbold';
  font-size: 18px;
  padding-bottom: 20px;
  border-bottom: solid 1px #CCCCCC;
}

.contenido-entidad-negocio .datos-mapa {
  float: left;
  padding-top: 20px;
  padding-right: 30px;
}

.contenido-entidad-negocio .datos-mapa label {
  display: block;
  font-family: 'open_sansbold';
  margin: 10px 0;
}

.contenido-entidad-negocio .datos-mapa input {
  display: block;
  width: 200px;
  margin-bottom: 30px;
}

.datos-direccion > div {
  float: left;
  margin-right: 10px;
}

.contenido-entidad-negocio .datos-mapa .datos-direccion > div input {
  width: 40px
}

.contenido-entidad-negocio .datos-mapa .datos-direccion > div:first-child input {
  width: 74px
}

.datos-mapa button {
  width: 210px;
  margin-top: 54px;
}

.datos-direccion > div:last-child {
  float: none;
}

.contenido-entidad-negocio .muestra-mapa {
  float: left;
  margin-top: 20px;
}

.contenido-entidad-negocio .botonera {
  margin-top: 20px;
}

/* ===SWITCH=== */
.onoffswitch {position: relative; margin-right: 10px; width: 40px;-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;display: inline-block;}
.onoffswitch+span{display: inline-block;vertical-align: top;margin: 3px;font-family: 'open_sanssemibold';font-size: 13px}
.onoffswitch[disabled="disabled"]{opacity: .6}
.onoffswitch-checkbox {display: none;}
.onoffswitch-label {display: block; overflow: hidden; cursor: pointer;height: 22px; padding: 0; line-height: 22px;border: 0px solid #FFFFFF; border-radius: 15px;background-color: #9E9E9E;}
.onoffswitch-label:before {content: "";display: block;width: 18px;margin: 2px 0 0 -1px;background: #FFFFFF;position: absolute;top: 0;bottom: 0;right: 20px;border-radius: 18px;height: 18px;}
.onoffswitch-checkbox:checked + .onoffswitch-label {background-color: #2BC56C;}
.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {border-color: #2BC56C;}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {margin-left: 0;}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {right: 2px;background-color: #FFFFFF;}

/* ===Botones=== */

.boton-nuevo {
  float: right;
  margin-top: 20px;
  background: #EC0000;
  background: url(../img/bg_btn_01.png);
  color: #FFFFFF;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.boton-nuevo:hover {
  opacity: 0.85;
}

.boton-claro {
  background: url(../img/bg_btn_02.png);
  color: #EC0000;
  padding: 0 40px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  cursor: pointer;
  border: solid 1px #EBEBEB;
}

.boton-con-flechita::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #EC0000;
  display: inline-block;
  margin: 8px 0 0 8px;
  vertical-align: top;
}

.boton-claro:hover {
  opacity: 0.85;
}

.boton-rojo-solo {
  background: url(../img/bg_btn_01.png);
  color: #FFFFFF;
  padding: 0 40px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  cursor: pointer;
  border: solid 1px #EC0000;
}

.boton-rojo {
  background: url(../img/bg_btn_01.png);
  color: #FFFFFF;
  padding: 0 40px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  cursor: pointer;
  border: solid 1px #EC0000;
}

.boton-rojo::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid white;
  display: inline-block;
  margin: 8px 0 0 8px;
  vertical-align: top;
}

.boton-rojo:hover {
  opacity: 0.85;
}
