<div class="entidad-negocio" ng-controller="entidadNegocioCtrl as vm">
  <div class="contenedor-header">
    <header class="usuario">
    	<h2>Ministerio de Realciones interiores y Culto (467)</h2>
      <div class="clear"></div>
    </header>
    <div class="menu-entidad-negocio">
      <div>
        <p>Alta</p>
        <p>01/06/2016</p>
      </div>
      <div>
        <p>Baja</p>
        <p>-</p>
      </div>
      <div>
        <p>Domicilio de entrega</p>
        <p>Av. Roque Saenz Peña 650, P2, (CP1234)</p>
      </div>
      <div>
        <p>CUIT</p>
        <p>30-1234568-9</p>
      </div>
      <div>
        <p>Estado</p>
        <p class="activo">Activo</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="contenido-entidad-negocio contenido-estructura">
    <h3 class="titulo-con-retorno">Modificar domicilio área centralizada</h3>
    <div class="datos-mapa">
			<label for="ciudad">Ciudad</label>
			<input type="text" id="ciudad" name="ciudad" value="La Plata">
			<label for="localidad">Localidad</label>
			<input type="text" id="localidad" name="localidad" value="Buenos Aires">
			<label for="calle">Calle</label>
			<input type="text" id="calle" name="calle" value="Calle 7">
      <div class="datos-direccion">
        <div>
  				<label for="numero">Número</label>
  				<input class="input" type="text" id="numero" name="numero" value="605">
  			</div>
  			<div>
  				<label for="piso">Piso</label>
  				<input type="text" id="piso" name="piso" value="5">
  			</div>
  			<div>
  				<label for="depto">Depto</label>
  				<input type="text" id="depto" name="depto" value="B">
  			</div>
        <div class="clear"></div>
      </div>
			<button class="boton-rojo-solo">Buscar</button>
    </div>
    <div class="muestra-mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.6080865378444!2d-58.406680685250386!3d-34.63934298045025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDM4JzIxLjYiUyA1OMKwMjQnMTYuMiJX!5e0!3m2!1ses!2sar!4v1485973995667" width="720" height="390" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="clear"></div>
    <div class="botonera">
      <button class="boton-rojo">Guardar</button>
      <button class="boton-claro boton-con-flechita">Volver</button>
    </div>
  </div>
</div>
