<div class="seccion-detalles" ng-controller="entidadNegocioCtrl as vm">
  <div class="contenedor-header">
    <header>
      <div><h2 class="con-flecha">Ministerio de Relaciones Interiores y Culto (467)</h2></div>
      <div class="sub-opciones">
        <span class="boton-tres-puntitos" ng-click="vm.abreOpciones($index)"></span>
        <div class="menu-adicional" ng-if="vm.opcionSeleccionada === $index">
          <ul>
            <li>Nuevo archivo</li>
            <li>Inhabilitar</li>
            <li>Exportar</li>
          </ul>
        </div>
      </div>
      <div class="clear"></div>
    </header>
    <div class="datos-header">
      <div class="opciones">
        <div>
          <p>Alta</p>
          <p>27/09/2014</p>
        </div>
        <div>
          <p>Baja</p>
          <p>-</p>
        </div>
        <div>
          <p>Domicilio de entrega</p>
          <p>Av.Roque Saenz Peña 650, P2, (CP 1242)</p>
        </div>
        <div>
          <p>Estado</p>
          <p class="activo">Activo</p>
        </div>
        <div>
          <p>Asignado</p>
          <p>Máscara</p>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="contenido-detalle entidades-mascara-titulo">
    <div class="contenedor-mascaras-entidades">
      <div class="contenido-nuevo">
        <h2 class="con-flecha"><span></span>Seleccioná una sucursal de radicación</h2>
        <div class="opciones-nuevo">
          <div class="datos-mapa">
            <div class="solapa-ubicacion" ng-repeat="ubicacion in vm.listaUbicaciones" ng-click="vm.seleccionUbicacion(ubicacion.name)">
              <div><input type="radio" value="{{ubicacion.name}}" ng-model="vm.ubicacionSel" name="ubicaciones" /> {{ubicacion.direccion}}</div>
              <p>{{ubicacion.aproximado}}</p>
              <span></span>
            </div>
          </div>
          <div class="muestra-mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.6080865378444!2d-58.406680685250386!3d-34.63934298045025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzTCsDM4JzIxLjYiUyA1OMKwMjQnMTYuMiJX!5e0!3m2!1ses!2sar!4v1485973995667" width="680" height="425" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="clear"></div>
        </div>
        <div class="botonera">
          <button class="boton-rojo">Continuar</button>
          <button class="boton-claro boton-con-flechita">cancelar</button>
          <button class="boton-claro boton-con-flechita" ng-click="go('/nuevoNegocioPasoDos')">Volver</button>
        </div>
      </div>
    </div>
  </div>
</div>
