<div class="seccion-entidades" ng-controller="entidadesCtrl as vm">
  <!--Menu de usuario-->
  <div class="contenedor-header">
    <div menu-usuario></div>
  </div>
  <!--Menu de gestión-->
  <div menu-gestion class="contenedor-menu-gestion"></div>

  <div class="estructura-menu-contenido">
    <!--Menu lateral Izquierdo-->
    <menu-lateral index="{ nro:2 }" class="contenido-menu"></menu-lateral>
  	<!--Contenido de la seccion mascaras-->
  	<div class="contenido-derecho">
      <!--Panel de filtros-->
      <div class="panel-filtros-generico">
  	    <h2 class="titulo-seccion">Entidades</h2>
  	    <div class="filtro">
          <div class="boton-filtro" ng-click="vm.toggleFiltro()">
            <span></span>
            <span>Filtrar<span>
          </div>
        </div>
  	  </div>
      <!--Filtro activado -->
      <div class="panel-filtros" ng-if="vm.filtroActivo">
        <div class="close-filtro" ng-click="vm.toggleFiltro()"></div>
        <div class="filtro-interno">
          <p>Negocio</p>
          <select>
            <option value="">Todos</option>
            <option value="">Preevaliacion s/ Persona</option>
            <option value="">ANSES</option>
          </select>
        </div>
        <div class="filtro-interno">
          <p>Suscriptor</p>
          <select>
            <option value="">Todos</option>
            <option value="">Activo</option>
            <option value="">Inhabilitado</option>
          </select>
        </div>
        <div class="filtro-interno">
          <p>Estado</p>
          <select>
            <option value="">Todos</option>
            <option value="">Activo</option>
            <option value="">Inhabilitado</option>
          </select>
        </div>
        <div class="clear"></div>
      </div>

      <!--Tabla con el contenido de mascaras -->
      <table class="tabla-generica datos-entidades">
         <tr>
           <th>Entidad<span></span></th>
           <th>CUIT<span></span></th>
           <th>Fecha Alta<span></span></th>
           <th>Fecha Baja<span></span></th>
           <th>Suscriptores<span></span></th>
           <th>Estado<span></span></th>
         </tr>
         <tr ng-repeat="datos in vm.tablaEntidades">
           <td ng-bind="datos.entidad"></td>
           <td ng-bind="datos.cuit"></td>
           <td ng-bind="datos.fechaAlta"></td>
           <td ng-bind="datos.fechaBaja"></td>
           <td ng-bind="datos.suscriptores"></td>
           <td>
             <span ng-class="{'activo' : datos.estado === 'Activo', 'inhabilitado' : datos.estado === 'Inhabilitado' }">{{datos.estado}}</span>
             <span class="boton-tres-puntitos" ng-click="vm.abreOpciones($index)"></span>
             <div class="menu-adicional" ng-if="vm.opcionSeleccionada === $index">
               <ul>
                 <li>Inhabilitar</li>
                 <li>Duplicar</li>
               </ul>
             </div>
           </td>
         </tr>
      </table>
      <div class="paginador-generico">
        <span class="pag-anterior"></span>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span class="pag-siguiente"></span>
      </div>
      <a class="boton-nuevo">+ Nueva Entidad</a>
  	</div>
    <div class="clear"></div>
  </div>
</div>
